services:
  biocppnet:
    build: .
    volumes:
      - .:/app
    ports:
      - "8502:8502"
    command: tail -f /dev/null
    container_name: biocppnet
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
